.button{
    margin-top: 1rem;
    border:none;
    outline:none;

    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: #8d2b2b;
        color: #ffffff;
    }

    &:active{
        transform: scale(1.1);
    }
}